{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='karp_favicon.ico') }}"/>
      <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet" />
    </head>

<body>
<title>Karps filuppladdning</title>
<div class="main">
  <div class="pre-upload">
    <div class="header">
        <h1><a href="{{ url_for('upload_file') }}">Karps filuppladdning</a></h1>
        <a href="{{ url_for('upload_file') }}"><img class="header-image" src="{{ url_for('static', filename='karp.png') }}"></img></a>
    </div>
    <div style="clear: both;">
      <p>Här kan du ladda upp filer till Karps SKBL-databas.</p>
      <p></p>
    <form action="" method="POST" enctype="multipart/form-data">
         <input type="file" name="file[]" multiple=""></input>
         <input type="submit" value="Ladda upp från din dator"></input>
    </form>
    <small><i>Tillåtna filändelser: {{ file_extensions }}</i></small>
    <br>
    <br>
    <form action="" method="POST">
        <input type="url" name="url" placeholder="www.exempel.se/bild.jpg", size="30"></input>
        <input type="submit" value="Ladda upp från en länk"></input>
    </form>
    </div>
  </div>

  {% if preview   %}
  <div class="preview">
    <img src="{{ url_for('send_file', filename=preview) }}"></img>
  </div>
  {% endif %}
</div>

{% if table %}
<hr style="clear: both;">
<div class="uploads">
    <h2 class="table-title">Alla uppladdade filer:</h2>
      {{ table }}
</div>
{% endif %}




</body>
</html>
{% endblock %}
